In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [2]:
data = pd.read_csv(r'Dashboard_Main_data.csv',engine='python',nrows=100)
data

,Date,Customer ID,Product Name,Category,Price,Quantity,Discount,Sales,Rating
0,02-03-2019,118756,Oppo A12s,Mobile,14610,1,9,13295,5
1,11-06-2019,180436,LG Aristo 5,Mobile,13165,1,15,11190,3
2,10-01-2018,103923,Tecno Spark 5 Pro,Mobile,12306,1,14,10583,3
3,19-11-2019,151574,Motorola One Vision Plus,Mobile,14860,1,15,12631,1
4,16-05-2018,144407,iQOO Z1x,Mobile,10409,1,15,8848,4
...,...,...,...,...,...,...,...,...,...
95,27-02-2018,132287,LG 32LJ573D 32 inch HD ready Smart LED TV,LED TV,20999,1,6,19739,2
96,27-04-2018,128999,Noble Skiodo BLT39OD01 39 Inch HD Ready,LED TV,14799,1,7,13763,4
97,25-11-2019,188166,Samsung UA32J4003AR 32 inch HD ready LED TV,LED TV,14999,1,7,13949,4
98,23-01-2019,131684,Micromax 32T8361HD 32 inch HD ready LED TV,LED TV,9299,1,9,8462,3
99,10-02-2019,155659,Samsung RT28M3022S8 253 L 2 Star Inverter Fros...,Refrigerator,19590,1,14,16847,3

In [3]:
data['year'] = pd.DatetimeIndex(data['Date']).year
data

,Date,Customer ID,Product Name,Category,Price,Quantity,Discount,Sales,Rating,year
0,02-03-2019,118756,Oppo A12s,Mobile,14610,1,9,13295,5,2019
1,11-06-2019,180436,LG Aristo 5,Mobile,13165,1,15,11190,3,2019
2,10-01-2018,103923,Tecno Spark 5 Pro,Mobile,12306,1,14,10583,3,2018
3,19-11-2019,151574,Motorola One Vision Plus,Mobile,14860,1,15,12631,1,2019
4,16-05-2018,144407,iQOO Z1x,Mobile,10409,1,15,8848,4,2018
...,...,...,...,...,...,...,...,...,...,...
95,27-02-2018,132287,LG 32LJ573D 32 inch HD ready Smart LED TV,LED TV,20999,1,6,19739,2,2018
96,27-04-2018,128999,Noble Skiodo BLT39OD01 39 Inch HD Ready,LED TV,14799,1,7,13763,4,2018
97,25-11-2019,188166,Samsung UA32J4003AR 32 inch HD ready LED TV,LED TV,14999,1,7,13949,4,2019
98,23-01-2019,131684,Micromax 32T8361HD 32 inch HD ready LED TV,LED TV,9299,1,9,8462,3,2019
99,10-02-2019,155659,Samsung RT28M3022S8 253 L 2 Star Inverter Fros...,Refrigerator,19590,1,14,16847,3,2019

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          100 non-null    object
 1   Customer ID   100 non-null    int64
 2   Product Name  100 non-null    object
 3   Category      100 non-null    object
 4   Price         100 non-null    int64
 5   Quantity      100 non-null    int64
 6   Discount      100 non-null    int64
 7   Sales         100 non-null    int64
 8   Rating        100 non-null    int64
 9   year          100 non-null    int64
dtypes: int64(7), object(3)
memory usage: 7.9+ KB

In [5]:
dropdown_option=[{'label': i, 'value': i} for i in data.Category.unique()]

In [6]:
app=dash.Dash()

In [7]:
app.layout = html.Div(children=
                      [
                          html.H1("Ecommerce Website Sales Dashboard for 2018-20(To selling Electronics products)",
                                   
                                  style={'height':'20%', 'width':'50%','display':'inline-block'}),
                          
                          dcc.Dropdown(id = 'Category_Dropdown',options = dropdown_option,placeholder = 'Category',
                                       value='Mobile',
                                       style={'height':'5%', 'width':'50%','display':'inline-block'},
                                       multi=True
                                      ),
                        
                           dcc.Slider(id= 'year_slider',
                                 min=data['year'].min(),
                                 max=data['year'].max(),
                                value=data['year'].min(),
                                 marks={
                                     str(year):str(year) for year in data['year'].unique()
                                 },
                                      step=None
                                     
                                     
                                     ),
                          
                          
                          dcc.Graph(id = 'Bar_Graph1', 
                                    style={'height':'40%', 'width':'33%','display':'inline-block'}),
                          
                          dcc.Graph(id = 'Gauge_Chart1', 
                                    style={'height':'40%', 'width':'33%','display':'inline-block'}),
                          
                          dcc.Graph(id = 'Gauge_Chart2',
                                    style={'height':'40%', 'width':'33%','display':'inline-block'}),
                          dcc.Graph(id = 'Area_Graph',
                                    style={'height':'40%', 'width':'100%','display':'inline-block'}
                                    )
                      ]
)

In [26]:
@app.callback(
   [ Output('Bar_Graph1','figure'),
     Output( 'Gauge_Chart1','figure'),
     Output('Gauge_Chart2','figure'),
     Output('Area_Graph','figure')
   ],
    [Input('Category_Dropdown','value'),
     Input('year_slider','value')
    ]
)

def update_charts(dropdown_value,slider_value):
    filter_data=data[(data.Category.isin(dropdown_value))&(data['year']==slider_value)]
    
    ###### Pivot for Bar chart ########
    agg_data1 = pd.pivot_table(filter_data, index=['Category'],values=['Sales'], aggfunc=np.sum)
    flat1 = pd.DataFrame(agg_data1.to_records())
    fig1=px.bar(flat1,x='Category',y='Sales')
    fig1.update_layout(transition_duration=500)
    


    ########### Gauge chart 1 ###########
    fig2= go.Figure(go.Indicator(

                                    domain={'x':[0,1],'y':[0,1]},
                                    value=filter_data['Rating'].mean(),
                                    mode="gauge+number",
                                    title={'text':"Average Of Rating"},delta={'reference':0},
                                    gauge={'axis':{'range':[None,5]}}
                                 )
                   )

    fig2.update_layout(transition_duration=500) 
    
   
    ########### Gauge chart 2 ###########
    fig3= go.Figure(go.Indicator(

                                    domain={'x':[0,1],'y':[0,1]},
                                    value=filter_data['Discount'].mean(),
                                    mode="gauge+number",
                                    title={'text':"Average Of Discount"},delta={'reference':0},
                                    gauge={'axis':{'range':[None,15]}}
                                 )
                   )

    fig3.update_layout(transition_duration=500) 
    


    ############# Pivot for Area chart###############
    agg_data2 = pd.pivot_table(filter_data, index = ['Product Name'], values=['Sales'], aggfunc=np.sum)
    flat2=pd.DataFrame(agg_data2.to_records())
    fig4=go.Figure()
    fig4.add_trace(go.Scatter(name='Sales By Product Name',x=flat2['Product Name'],y=flat2['Sales'],fill='tozeroy'))
    fig4.update_layout(transition_duration=500)
    
    return [fig1,fig2,fig3,fig4]

In [28]:
if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 Warning: This is a development server. Do not use app.run_server
 in production, use a production WSGI server like gunicorn instead.

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [18/Jul/2020 10:50:58] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [18/Jul/2020 10:50:58] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [18/Jul/2020 10:50:58] "GET /_dash-dependencies HTTP/1.1" 200 -